<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span>
</div>
<div data-off-canvas="mobile-slidebar left overlay">
    <a class="navbar-brand scroll" href="/">
                <img class="normal-logo img-resonsive visible-xs visible-sm" src="/assets/frappe/assets/media/general/logo.png" alt="logo" />
                <img class="scroll-logo img-resonsive hidden-xs hidden-sm" src="/assets/frappe/assets/media/general/logo-dark.png" alt="logo" />
            </a>
</div>